


body {
  background: rgba(0, 0, 0, 0.1);;
  padding: 150px;
}


/* OG envelope */
.envelope {
  position: relative;
  margin: 70px auto 0;
  width: 294px;
  height: 198px;
  background: #c94548;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 0 3px #c94548 inset;
  transition: all 0.7s ease;
}

/* entire envelope */
.envelope:before,
.envelope:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-width: 99px 147px;
  transition: all 0.1s ease-in-out;
}

/* envelope top*/
.envelope:before {
  border-bottom-color: #c94548;
  top: -100%;
  left: 0px;
}

 /* envelope outer*/
.envelope:after {
  border-right-color: #ed4c50;
  border-left-color: #fa565a;
  border-bottom-color: #fa565a;
  top: 0;
  border-radius: 0 0 15px 15px;
  transform: rotate(360deg);
  box-shadow: 0 1px 1px rgba(0,0,0,0.25);
}
       /* white paper */
      .paper {
        background: #fff;
        width: 261px;
        height: 198px;
        margin:  auto;
        border-radius: 15px;
        position: absolute;
        left: 18px;
        /* tucked in 
        top: -0px; */
        /*top: -99px;*/
        top: -99px;
        box-shadow: 0 1px 1px rgba(0,0,0,0.25);
        transition: all 0.3s ease-in-out;
      }

  
      




/* paper outside the envelope */
#outside {
 
  background: #fff;
  width: 261px;
  height: 300px;
  margin:  auto;
  border-radius: 15px;
  position: absolute;
  left: 423px;
  /* tucked in 
  top: -0px; */
  /*top: -99px;*/
  top: -99px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.25);
  margin-top: 218px;
  margin-left: 150px;
  
}

/* closed envelope */
#closed {
  background: #F95B5F;
  border-radius: 15px 15px 15px 15px;
  

  
  
}

/* top */
#closed:before {

opacity: 0.0;
border-radius: 0px 0px 15px 15px;
  
}


/* outer */
#closed:after {
  border-right-color: #ed4c50;
  border-left-color: #fa565a;
  border-bottom-color: #fa565a;
  top: 0;
  border-radius: 15px 15px 15px 15px;
  transform: rotate(360deg);
  box-shadow: 0 1px 1px rgba(0,0,0,0.25);
}


p {
  font-size: 14px;
    content: '';
    position: absolute;
    left: 36px;
    color: #868686;
    height: 12px;
    border-radius: 15px;
    font-family: 'Lobster Two', cursive;
    line-height: 1.5;
}

.name {
  
  text-align: center;
  color: #AB0028;
  font-family: 'Lobster Two', cursive;
}
