@font-face {
  font-family: 'Lobster Two';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster Two'), local('LobsterTwo'), url(https://fonts.gstatic.com/s/lobstertwo/v7/Law3VVulBOoxyKPkrNsAaIgp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: SourceCodeProLight;
  src: url(SourceCodePro-Light.otf);
}

* {
  font-family: SourceCodeProLight;
}

body {
  margin: 0;
}

h1 {
  font-family: 'Lobster Two';
  margin: 2em auto 0;
  text-align: center;
  font-size: 64px;
  color: #c94548;
}

.flashes {
  color: white;
  background-color: #c94548;
  text-align: center;
  top: 0;
}

p {
  text-align: center;
}

p.desc {
  margin: 1em;
}

p.message {
  margin: 0;
  top: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  padding: 0.5em;
}

form {
  margin: 0 auto;
  width: 500px;
}

input {
  margin: 0 auto;
  width: 500px;
  height: 70px;
  font-size: 18px;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
  border-color: #ed4c50;
  box-shadow: 0 1px 1px #ed4c50 inset, 0 0 8px #ed4c50;
  outline: 0 none;
}

input[type=text], input[type=password] {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: dashed;
  border-color: #c94548;
  color: #808080;
  padding: 1px;
}

input[type=submit] {
  background-color: #c94548;
  color: white;
}

input[type=text], input[type=password], input[type=submit] {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  text-align: center;
}

input[type=submit] {
  border: none;
  /* background-color */
}

button {
  width: 500px;
  border-style: none;
}

@media only screen and (max-width: 580px) {
  form {
    width: 250px;
  }

  input {
    width: 250px;
    height: 50px;
  }

  h1 {
    font-size: 48px;
  }
}
