<!Doctype Html>
<!-- valentree-->
<link href='https://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet'
    type='text/css'/>
<link href="{{ url_for('static', filename='protected.css')}}" rel='stylesheet'
    type='text/css'/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
  $(document).ready(function() {
    $("#open").hide(); 
    $("#closed").click(function() {
      console.log("hfj");
      $("#closed").hide();
      $("#open").show();
    })
  });
</script>

<a href="{{ url_for('logout')}}">
  <button class="logout">Logout</button>
</a>

<p>{{ users }}</p>
<!-- envelope with paper inside -->
  <div class="envelope" id="open">
    <div class="paper" id="showPaper">
      <h1 class="name"> Your match! <h1>
          <p>You got matched with Ellen! You both like meeting new people and hackathons, and you're both leaving at 19:45 at SFO. You should text Ellen at 9177517628</p>
    </div>
  </div>

<!-- envelope by itself -->
<div class="envelope" id="closed"></div>
